POSTGRES_USER=hypertube
POSTGRES_PASSWORD=hypertube
POSTGRES_DB=hypertube
DATABASE_URL=postgresql+asyncpg://hypertube:hypertube@db:5432/hypertube
JWT_SECRET_KEY=supersecretjwtkey_placeholder_change_me_later
